node_modules
dist
logs
coverage
.git
.gitignore
.idea
.vscode
.DS_Store
*.log
*.rdb
dump.rdb
.env
.env.*
!.env.example
README.md
Dockerfile
.dockerignore
docker-compose*.yml
postman
*.postman_collection.json
test
